flows/Apache-Kafka-with-SASL-authentication.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1781035312599,
    "description" : "Flow: Apache Kafka with SASL authentication",
    "identifier" : "Apache-Kafka-with-SASL-authentication",
    "lastModifiedTimestamp" : 1781035312599,
    "name" : "Apache Kafka with SASL authentication",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "1.10.0-2fd73d9",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
        "id" : "14cd8e2e-cb94-363e-8588-cea0adcb4829",
        "name" : "Input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0ab182ad-a2d8-3da4-b121-bfdfdfd1265d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
      "name" : "",
      "partitioningAttribute" : "kafka.partition",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47b516d9-0195-1000-3e23-cc7a518eb7c5",
        "name" : "Create Table If Not Exists",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1684.580322265625,
        "y" : -552.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "543f451a-ec86-3657-9170-a5d540e81823",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "parse failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "50dbc768-e0c6-3ff0-9aef-7a3550aabc40",
        "name" : "Consume From Kafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
        "id" : "14cd8e2e-cb94-363e-8588-cea0adcb4829",
        "name" : "Input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "591fdde1-3a5d-31d6-86c3-ebaff71875b0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "15b88d58-4980-3a82-ac10-b0540a0f89b9",
        "name" : "Update RECORD_METADATA",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1460.580322265625,
        "y" : 872.0
      }, {
        "x" : 1684.580322265625,
        "y" : 872.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7651c472-771a-3522-8223-622a68e00838",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
        "id" : "3a775801-4b3a-36d5-9f9a-ea3518dfe8a1",
        "name" : "Failures",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b7c7da6f-0194-1000-eea2-c42fa239dcd8",
        "name" : "Log Failure",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8abac8ea-6f95-30c2-b642-cb7727801414",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "parse failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "50dbc768-e0c6-3ff0-9aef-7a3550aabc40",
        "name" : "Consume From Kafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 548.580322265625,
        "y" : 232.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "15b88d58-4980-3a82-ac10-b0540a0f89b9",
        "name" : "Update RECORD_METADATA",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "90031c54-1109-3385-8e52-5eca1b85b79b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "enabled" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ca031e8-0195-1000-9316-aeb1ccda1510",
        "name" : "Iceberg Enabled",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ca031e8-0195-1000-9316-aeb1ccda1510",
        "name" : "Iceberg Enabled",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9892adcb-f79e-3296-9d92-e02035e992e0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
      "name" : "",
      "partitioningAttribute" : "kafka.partition",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ff9f85ab-1c48-3468-9fa9-2895841f71f8",
        "name" : "Map Topic To Table",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "id" : "c1c75b37-83aa-3e26-b3ae-1eccbe1732f9",
        "name" : "DLQ input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab73ea59-4316-375c-b729-57637b46547a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 548.580322265625,
        "y" : 1304.0
      }, {
        "x" : 1684.580322265625,
        "y" : 1304.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b3674baf-d40d-327f-b2d6-cfb6acbf7a1f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure", "illegal alteration", "table not found" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "15b88d58-4980-3a82-ac10-b0540a0f89b9",
        "name" : "Update RECORD_METADATA",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47b516d9-0195-1000-3e23-cc7a518eb7c5",
        "name" : "Create Table If Not Exists",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b8c488b9-3592-3f7a-915d-b4a0ed05500f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
      "name" : "",
      "partitioningAttribute" : "kafka.partition",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "disabled" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5ca031e8-0195-1000-9316-aeb1ccda1510",
        "name" : "Iceberg Enabled",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1468.580322265625,
        "y" : 552.0
      }, {
        "x" : 1684.580322265625,
        "y" : 552.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d38c61a4-e06f-3d16-b0e7-f3533b51fcce",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "47b516d9-0195-1000-3e23-cc7a518eb7c5",
        "name" : "Create Table If Not Exists",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "75385087-7aea-320c-8dd2-00316c68da2b",
        "name" : "Put Data To Snowflake",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "deab9028-6250-3459-bb42-bed36a897014",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
      "name" : "",
      "partitioningAttribute" : "kafka.partition",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
        "id" : "4cde6bff-45b9-3a09-a68e-e2171422de06",
        "name" : "Output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 1460.580322265625,
        "y" : 1144.0
      }, {
        "x" : 1684.580322265625,
        "y" : 1144.0
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "800b403e-072e-348c-aec3-6d5298296c97",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e21a6f24-d867-34a6-8342-e18d1cdaa4ad",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "75385087-7aea-320c-8dd2-00316c68da2b",
        "name" : "Put Data To Snowflake",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ff9f85ab-1c48-3468-9fa9-2895841f71f8",
        "name" : "Map Topic To Table",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e547e666-66cf-3bbd-8527-81ce02cfdf56",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
      "name" : "",
      "partitioningAttribute" : "kafka.partition",
      "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "50dbc768-e0c6-3ff0-9aef-7a3550aabc40",
        "name" : "Consume From Kafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1341c0e9-0ff6-3942-9568-13c06395c07d",
      "name" : "AvroReader",
      "properties" : {
        "Schema Reference Reader" : "39b46ac0-353a-33f6-9ae7-d674a58a717c",
        "Schema Text" : "#{AVRO Schema}",
        "Cache Size" : "1000",
        "Fast Reader Enabled" : "true",
        "Schema Registry" : "56e49f74-8d7a-3e7a-9680-cb7906fedf8f",
        "Schema Access Strategy" : "#{AVRO Schema Access Strategy}",
        "Schema Name" : "${schema.name}"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Cache Size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Size",
          "sensitive" : false
        },
        "Fast Reader Enabled" : {
          "displayName" : "Fast Reader Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fast Reader Enabled",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.avro.AvroReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "17c2c374-31fe-3c46-94cd-c7b81a022cfa",
      "name" : "ReaderLookup",
      "properties" : {
        "JSON" : "7e0e1425-419f-3d45-a7e5-a42f5701f98a",
        "AVRO" : "1341c0e9-0ff6-3942-9568-13c06395c07d",
        "Service to Use" : "#{Message Format}"
      },
      "propertyDescriptors" : {
        "JSON" : {
          "displayName" : "JSON",
          "dynamic" : true,
          "identifiesControllerService" : true,
          "name" : "JSON",
          "sensitive" : false
        },
        "AVRO" : {
          "displayName" : "AVRO",
          "dynamic" : true,
          "identifiesControllerService" : true,
          "name" : "AVRO",
          "sensitive" : false
        },
        "Service to Use" : {
          "displayName" : "Service to Use",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Service to Use",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.lookup.ReaderLookup"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-kafka-3-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "runtime-kafka-service-api-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.6.4.18"
        },
        "type" : "com.snowflake.openflow.runtime.api.kafka.KafkaConnectionService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "18c3dc01-eaeb-3236-a95a-398bc40aaf36",
      "name" : "Kafka Connection",
      "properties" : {
        "security.protocol" : "#{Kafka Security Protocol}",
        "ack.wait.time" : "30 sec",
        "sasl.username" : "#{Kafka SASL Username}",
        "max.poll.records" : "10000",
        "sasl.mechanism" : "#{Kafka SASL Mechanism}",
        "isolation.level" : "read_committed",
        "max.block.ms" : "30 sec",
        "bootstrap.servers" : "#{Kafka Bootstrap Servers}",
        "sasl.password" : "#{Kafka SASL Password}",
        "default.api.timeout.ms" : "60 sec"
      },
      "propertyDescriptors" : {
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "sasl.username" : {
          "displayName" : "SASL Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.username",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "sasl.mechanism" : {
          "displayName" : "SASL Mechanism",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.mechanism",
          "sensitive" : false
        },
        "isolation.level" : {
          "displayName" : "Transaction Isolation Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "isolation.level",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Bootstrap Servers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.password" : {
          "displayName" : "SASL Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.password",
          "sensitive" : true
        },
        "default.api.timeout.ms" : {
          "displayName" : "Client Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "default.api.timeout.ms",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.kafka.Kafka3ConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3343b44e-6231-30c6-893b-6ab57faa05a7",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Allow Scientific Notation" : "false",
        "Compression Level" : "1",
        "Output Grouping" : "output-array",
        "Schema Access Strategy" : "inherit-record-schema",
        "Schema Name" : "${schema.name}",
        "Pretty Print JSON" : "false",
        "Suppress Null Values" : "never-suppress",
        "Schema Write Strategy" : "full-schema-attribute",
        "Serialized JSON Input Handling" : "ENABLED",
        "Compression Format" : "none"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Output Grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Grouping",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Suppress Null Values" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Suppress Null Values",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "Serialized JSON Input Handling" : {
          "displayName" : "Serialized JSON Input Handling",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Serialized JSON Input Handling",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Schema Cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Cache",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-confluent-platform-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaReferenceReader"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "39b46ac0-353a-33f6-9ae7-d674a58a717c",
      "name" : "ConfluentEncodedSchemaReferenceReader",
      "properties" : { },
      "propertyDescriptors" : { },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.confluent.schemaregistry.ConfluentEncodedSchemaReferenceReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-confluent-platform-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "56e49f74-8d7a-3e7a-9680-cb7906fedf8f",
      "name" : "ConfluentSchemaRegistry",
      "properties" : {
        "Username" : "#{Schema Registry Username}",
        "Schema Registry URLs" : "#{Schema Registry URL}",
        "Communications Timeout" : "30 secs",
        "Cache Size" : "1000",
        "Authentication Type" : "#{Schema Registry Authentication Type}",
        "Cache Expiration" : "1 hour",
        "Password" : "#{Schema Registry Password}"
      },
      "propertyDescriptors" : {
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Schema Registry URLs" : {
          "displayName" : "Schema Registry URLs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Registry URLs",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "Cache Size" : {
          "displayName" : "Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Size",
          "sensitive" : false
        },
        "Authentication Type" : {
          "displayName" : "Authentication Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Type",
          "sensitive" : false
        },
        "Cache Expiration" : {
          "displayName" : "Cache Expiration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Expiration",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.confluent.schemaregistry.ConfluentSchemaRegistry"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7e0e1425-419f-3d45-a7e5-a42f5701f98a",
      "name" : "JsonTreeReader",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Max String Length" : "20 MB",
        "Starting Field Strategy" : "ROOT_NODE",
        "Schema Access Strategy" : "infer-schema",
        "Schema Name" : "${schema.name}",
        "Schema Application Strategy" : "SELECTED_PART",
        "Parsing Strategy" : "STANDARD"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Starting Field Name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Name",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Schema Inference Cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Inference Cache",
          "sensitive" : false
        },
        "Starting Field Strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Strategy",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Schema Application Strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Application Strategy",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Parsing Strategy" : {
          "displayName" : "Parsing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Parsing Strategy",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-connection-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "807f1e7a-0ad6-304a-b631-267ecccd3538",
      "name" : "SnowflakeConnectionService",
      "properties" : {
        "Account" : "#{Snowflake Account Identifier}",
        "User" : "#{Snowflake Username}",
        "Maximum Connections" : "10",
        "Maximum Lifetime" : "30 minutes",
        "Schema" : "#{Destination Schema}",
        "Private Key Service" : "e8181811-2f1d-3326-aeb2-1b82d737f4cb",
        "Connection Strategy" : "STANDARD",
        "Connection Timeout" : "30 seconds",
        "Role" : "#{Snowflake Role}",
        "Idle Timeout" : "10 minutes",
        "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
        "Database Name" : "#{Destination Database}",
        "Network Timeout" : "5 minutes"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "Warehouse" : {
          "displayName" : "Warehouse",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Warehouse",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Maximum Connections" : {
          "displayName" : "Maximum Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connections",
          "sensitive" : false
        },
        "Maximum Lifetime" : {
          "displayName" : "Maximum Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Lifetime",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Idle Timeout" : {
          "displayName" : "Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Idle Timeout",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Network Timeout" : {
          "displayName" : "Network Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Network Timeout",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-key-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.key.service.api.PrivateKeyService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e8181811-2f1d-3326-aeb2-1b82d737f4cb",
      "name" : "StandardPrivateKeyService",
      "properties" : {
        "Key File" : "#{Snowflake Private Key File}",
        "Key Password" : "#{Snowflake Private Key Password}",
        "Key" : "#{Snowflake Private Key}"
      },
      "propertyDescriptors" : {
        "Key File" : {
          "displayName" : "Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Key Password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Password",
          "sensitive" : true
        },
        "Key" : {
          "displayName" : "Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.key.service.StandardPrivateKeyService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "edca16be-4050-3c0d-8294-aafef0fa34fb",
      "name" : "Internal JsonTreeReader respecting schema",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Max String Length" : "20 MB",
        "Starting Field Strategy" : "ROOT_NODE",
        "Schema Access Strategy" : "schema-text-property",
        "Schema Name" : "${schema.name}",
        "Schema Application Strategy" : "SELECTED_PART",
        "Parsing Strategy" : "STANDARD"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Starting Field Name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Name",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Schema Inference Cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Inference Cache",
          "sensitive" : false
        },
        "Starting Field Strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Starting Field Strategy",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Schema Application Strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Application Strategy",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Parsing Strategy" : {
          "displayName" : "Parsing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Parsing Strategy",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "800b403e-072e-348c-aec3-6d5298296c97",
      "position" : {
        "x" : 1664.0,
        "y" : 0.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Apache Kafka with SASL authentication",
    "outputPorts" : [ ],
    "parameterContextName" : "Kafka SASL Ingestion Parameters",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964029-0195-1000-d67a-fa4adbe88a4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "41d0eed2-307b-3511-b2eb-e9296b411074",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "de4036c4-102e-3afe-be41-eb0ba80cb3f8",
          "name" : "Update Iceberg Table Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 816.0,
          "y" : 280.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964026-0195-1000-da74-c3024eebb893",
          "name" : "Update Table Schema",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "48cb81ba-2888-3e69-a5a9-8350170ffc8c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "disabled" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "56aa623c-c3e0-30b4-882c-796ddc244235",
          "name" : "Is Iceberg Enabled",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 184.0,
          "y" : 160.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "56aa623c-c3e0-30b4-882c-796ddc244235",
          "name" : "Is Iceberg Enabled",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "6696402a-0195-1000-f3e4-0e94bac1e940",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
        "name" : "",
        "partitioningAttribute" : "kafka.partition",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "schema evolution enabled" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964025-0195-1000-b47e-3be2c1a16dc8",
          "name" : "Is Schema Evolution Enabled",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964025-0195-1000-b47e-3be2c1a16dc8",
          "name" : "Is Schema Evolution Enabled",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "72231de2-253b-3965-8f8f-bf03cea30fba",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
        "name" : "",
        "partitioningAttribute" : "kafka.partition",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success", "table not found" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "711459bd-0195-1000-3adf-38566e1d0ee2",
          "name" : "Fetch Snowflake Table Properties",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 1152.0,
          "y" : 704.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "3a775801-4b3a-36d5-9f9a-ea3518dfe8a1",
          "name" : "Failures",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "7f64efe7-fba3-3ffa-8746-0865f0e454e5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure", "illegal alteration", "object not found" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964026-0195-1000-da74-c3024eebb893",
          "name" : "Update Table Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 456.0,
          "y" : 704.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964029-0195-1000-d67a-fa4adbe88a4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "8e05f2f3-212d-3772-967a-6038076fa5df",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964026-0195-1000-da74-c3024eebb893",
          "name" : "Update Table Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : -208.0,
          "y" : 40.0
        }, {
          "x" : -208.0,
          "y" : 704.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964029-0195-1000-d67a-fa4adbe88a4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "99277c4a-14f9-367f-8cff-07bbf40284b5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
        "name" : "",
        "partitioningAttribute" : "kafka.partition",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "schema evolution disabled" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964025-0195-1000-b47e-3be2c1a16dc8",
          "name" : "Is Schema Evolution Enabled",
          "type" : "PROCESSOR"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "711459bd-0195-1000-3adf-38566e1d0ee2",
          "name" : "Fetch Snowflake Table Properties",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "b8ef4162-36cd-368c-9f7a-30110ab5db7f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
        "name" : "",
        "partitioningAttribute" : "kafka.partition",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "14cd8e2e-cb94-363e-8588-cea0adcb4829",
          "name" : "Input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 584.0,
          "y" : 520.0
        }, {
          "x" : 1152.0,
          "y" : 520.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "3a775801-4b3a-36d5-9f9a-ea3518dfe8a1",
          "name" : "Failures",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "b9fa9023-c014-33f5-9e84-e6b192bbce45",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure", "illegal alteration", "table not found" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "de4036c4-102e-3afe-be41-eb0ba80cb3f8",
          "name" : "Update Iceberg Table Schema",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 1152.0,
          "y" : -192.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "3a775801-4b3a-36d5-9f9a-ea3518dfe8a1",
          "name" : "Failures",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "bc0b2791-8533-3f41-9ffc-3a555888af42",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "711459bd-0195-1000-3adf-38566e1d0ee2",
          "name" : "Fetch Snowflake Table Properties",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 184.0,
          "y" : 400.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "de4036c4-102e-3afe-be41-eb0ba80cb3f8",
          "name" : "Update Iceberg Table Schema",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "ec5fc174-df8c-3536-a050-e75c9c43a9b4",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "enabled" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "56aa623c-c3e0-30b4-882c-796ddc244235",
          "name" : "Is Iceberg Enabled",
          "type" : "PROCESSOR"
        },
        "zIndex" : 1
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "4cde6bff-45b9-3a09-a68e-e2171422de06",
          "name" : "Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "fdece2b7-5381-3fde-9706-405b21137321",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "PARTITION_BY_ATTRIBUTE",
        "name" : "",
        "partitioningAttribute" : "kafka.partition",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "comments" : "",
          "groupId" : "74de9e1c-af20-3502-92e8-755100e27383",
          "id" : "66964029-0195-1000-d67a-fa4adbe88a4b",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "66964029-0195-1000-d67a-fa4adbe88a4b",
        "position" : {
          "x" : 160.0,
          "y" : 680.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "74de9e1c-af20-3502-92e8-755100e27383",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "14cd8e2e-cb94-363e-8588-cea0adcb4829",
        "name" : "Input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 64.0,
          "y" : -400.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Evolve Schema",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "3a775801-4b3a-36d5-9f9a-ea3518dfe8a1",
        "name" : "Failures",
        "portFunction" : "FAILURE",
        "position" : {
          "x" : 1032.0,
          "y" : 216.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      }, {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "4cde6bff-45b9-3a09-a68e-e2171422de06",
        "name" : "Output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 64.0,
          "y" : 824.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "Kafka SASL Ingestion Parameters",
      "position" : {
        "x" : 856.0,
        "y" : 784.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "56aa623c-c3e0-30b4-882c-796ddc244235",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Is Iceberg Enabled",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 8.0,
          "y" : 216.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "disabled" : "${#{\"Iceberg Enabled\"}:equalsIgnoreCase('false')}",
          "enabled" : "${#{\"Iceberg Enabled\"}:equalsIgnoreCase('true')}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "disabled" : {
            "displayName" : "disabled",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "disabled",
            "sensitive" : false
          },
          "enabled" : {
            "displayName" : "enabled",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "enabled",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "66964025-0195-1000-b47e-3be2c1a16dc8",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Is Schema Evolution Enabled",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 8.0,
          "y" : -24.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "schema evolution disabled" : "${enable.schema.evolution:replaceNull(\"true\"):equalsIgnoreCase(\"false\")}",
          "schema evolution enabled" : "${enable.schema.evolution:replaceNull(\"true\"):equalsIgnoreCase(\"true\")}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "schema evolution disabled" : {
            "displayName" : "schema evolution disabled",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "schema evolution disabled",
            "sensitive" : false
          },
          "schema evolution enabled" : {
            "displayName" : "schema evolution enabled",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "schema evolution enabled",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "YIELD_PROCESSOR",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "66964026-0195-1000-da74-c3024eebb893",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Update Table Schema",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 640.0,
          "y" : 640.0
        },
        "properties" : {
          "Table Name" : "${table.name:toUpper()}",
          "Table Metadata Cache Expiration Time" : "30 sec",
          "Update Type" : "Alter Table",
          "Max Batch Size" : "1",
          "Include Not Null Constraints" : "true",
          "Table Stream Creation Parameters" : "",
          "Record Reader" : "edca16be-4050-3c0d-8294-aafef0fa34fb",
          "Table Schema Strategy" : "Use Record Reader",
          "Schema Name" : "#{Destination Schema}",
          "Include Default Values" : "false",
          "Add Column Strategy" : "Alter Table",
          "Use Table Metadata Cache" : "true",
          "Alter Column Type Strategy" : "Ignore",
          "Column Removal Strategy" : "Ignore Column",
          "Column Name Transformation" : "${column.name:toUpper()}",
          "Drop Not Null Strategy" : "Alter Table",
          "Add Not Null Strategy" : "Ignore",
          "Create Stream" : "false",
          "Modify Primary Key Strategy" : "Ignore",
          "Drop Column Strategy" : "Ignore",
          "Connection Pool" : "807f1e7a-0ad6-304a-b631-267ecccd3538",
          "Include Primary Key Constraints" : "true"
        },
        "propertyDescriptors" : {
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Table Metadata Cache Expiration Time" : {
            "displayName" : "Table Metadata Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Metadata Cache Expiration Time",
            "sensitive" : false
          },
          "Update Type" : {
            "displayName" : "Update Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Type",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Include Not Null Constraints" : {
            "displayName" : "Include Not Null Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Not Null Constraints",
            "sensitive" : false
          },
          "Stream Creation Parameters" : {
            "displayName" : "Stream Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stream Creation Parameters",
            "sensitive" : false
          },
          "Removed Column Name Suffix" : {
            "displayName" : "Removed Column Name Suffix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Removed Column Name Suffix",
            "sensitive" : false
          },
          "Table Stream Creation Parameters" : {
            "displayName" : "Table Stream Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Stream Creation Parameters",
            "sensitive" : false
          },
          "Stream Name" : {
            "displayName" : "Stream Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stream Name",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Desired Schema" : {
            "displayName" : "Desired Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Desired Schema",
            "sensitive" : false
          },
          "Table Schema Strategy" : {
            "displayName" : "Table Schema Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Include Default Values" : {
            "displayName" : "Include Default Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Default Values",
            "sensitive" : false
          },
          "Add Column Strategy" : {
            "displayName" : "Add Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Column Strategy",
            "sensitive" : false
          },
          "Table Stream Name" : {
            "displayName" : "Table Stream Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Stream Name",
            "sensitive" : false
          },
          "Use Table Metadata Cache" : {
            "displayName" : "Use Table Metadata Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Table Metadata Cache",
            "sensitive" : false
          },
          "Alter Column Type Strategy" : {
            "displayName" : "Alter Column Type Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Alter Column Type Strategy",
            "sensitive" : false
          },
          "Column Removal Strategy" : {
            "displayName" : "Column Removal Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Removal Strategy",
            "sensitive" : false
          },
          "Column Name Transformation" : {
            "displayName" : "Column Name Transformation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Transformation",
            "sensitive" : false
          },
          "Drop Not Null Strategy" : {
            "displayName" : "Drop Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Not Null Strategy",
            "sensitive" : false
          },
          "Add Not Null Strategy" : {
            "displayName" : "Add Not Null Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Not Null Strategy",
            "sensitive" : false
          },
          "Creation Parameters" : {
            "displayName" : "Creation Parameters",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Creation Parameters",
            "sensitive" : false
          },
          "Create Stream" : {
            "displayName" : "Create Stream",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Stream",
            "sensitive" : false
          },
          "Modify Primary Key Strategy" : {
            "displayName" : "Modify Primary Key Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Modify Primary Key Strategy",
            "sensitive" : false
          },
          "Drop Column Strategy" : {
            "displayName" : "Drop Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Column Strategy",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "Include Primary Key Constraints" : {
            "displayName" : "Include Primary Key Constraints",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Primary Key Constraints",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "failure", "object not found" ],
        "retryCount" : 9999,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "711459bd-0195-1000-3adf-38566e1d0ee2",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Fetch Snowflake Table Properties",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 8.0,
          "y" : -256.0
        },
        "properties" : {
          "Use Table Metadata Cache" : "true",
          "Table Name" : "${table.name:toUpper()}",
          "Table Metadata Cache Expiration Time" : "30 sec",
          "Connection Pool" : "807f1e7a-0ad6-304a-b631-267ecccd3538",
          "enable.schema.evolution" : "enable_schema_evolution",
          "Schema Name" : "#{Destination Schema}"
        },
        "propertyDescriptors" : {
          "Use Table Metadata Cache" : {
            "displayName" : "Use Table Metadata Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Table Metadata Cache",
            "sensitive" : false
          },
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Table Metadata Cache Expiration Time" : {
            "displayName" : "Table Metadata Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Metadata Cache Expiration Time",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          },
          "enable.schema.evolution" : {
            "displayName" : "enable.schema.evolution",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "enable.schema.evolution",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.FetchSnowflakeTableProperties",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "74de9e1c-af20-3502-92e8-755100e27383",
        "identifier" : "de4036c4-102e-3afe-be41-eb0ba80cb3f8",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Update Iceberg Table Schema",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 8.0,
          "y" : 456.0
        },
        "properties" : {
          "Use Table Metadata Cache" : "true",
          "Table Name" : "${table.name:toUpper()}",
          "Alter Column Type Strategy" : "Ignore",
          "Table Metadata Cache Expiration Time" : "30 sec",
          "Max Batch Size" : "1",
          "Alter Column Strategy" : "Alter Table",
          "Record Reader" : "edca16be-4050-3c0d-8294-aafef0fa34fb",
          "Table Schema Strategy" : "Use Record Reader",
          "Schema Name" : "#{Destination Schema}",
          "Drop Column Strategy" : "Ignore",
          "Add Column Strategy" : "Alter Table",
          "Connection Pool" : "807f1e7a-0ad6-304a-b631-267ecccd3538"
        },
        "propertyDescriptors" : {
          "Use Table Metadata Cache" : {
            "displayName" : "Use Table Metadata Cache",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Table Metadata Cache",
            "sensitive" : false
          },
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Alter Column Type Strategy" : {
            "displayName" : "Alter Column Type Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Alter Column Type Strategy",
            "sensitive" : false
          },
          "Table Metadata Cache Expiration Time" : {
            "displayName" : "Table Metadata Cache Expiration Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Metadata Cache Expiration Time",
            "sensitive" : false
          },
          "Max Batch Size" : {
            "displayName" : "Max Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Batch Size",
            "sensitive" : false
          },
          "Alter Column Strategy" : {
            "displayName" : "Alter Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Alter Column Strategy",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Desired Schema" : {
            "displayName" : "Desired Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Desired Schema",
            "sensitive" : false
          },
          "Table Schema Strategy" : {
            "displayName" : "Table Schema Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Drop Column Strategy" : {
            "displayName" : "Drop Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Drop Column Strategy",
            "sensitive" : false
          },
          "Add Column Strategy" : {
            "displayName" : "Add Column Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Add Column Strategy",
            "sensitive" : false
          },
          "Connection Pool" : {
            "displayName" : "Connection Pool",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Connection Pool",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeIcebergDatabase",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "7d8462fa-b812-3282-8db0-608eb6c14299",
          "name" : "DLQ Enabled",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "b9eb6434-89f7-30f8-8e9f-a447ae545f13",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "c1c75b37-83aa-3e26-b3ae-1eccbe1732f9",
          "name" : "DLQ input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "04d98e57-92f5-331a-be95-9ad2cb3865ec",
          "name" : "Log Failure",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "c06f57c3-3034-3ef0-aa64-235b9ee6d816",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "be718a29-f22c-3aed-becf-c98047ef3709",
          "name" : "Send to DLQ",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "be718a29-f22c-3aed-becf-c98047ef3709",
          "name" : "Send to DLQ",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "ef649867-bc52-3fa9-98d7-8fd4c0853f19",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
        "selectedRelationships" : [ "dlq" ],
        "source" : {
          "comments" : "",
          "groupId" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
          "id" : "7d8462fa-b812-3282-8db0-608eb6c14299",
          "name" : "DLQ Enabled",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "c1c75b37-83aa-3e26-b3ae-1eccbe1732f9",
        "name" : "DLQ input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 1504.0,
          "y" : -560.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "DLQ",
      "outputPorts" : [ ],
      "parameterContextName" : "Kafka SASL Ingestion Parameters",
      "position" : {
        "x" : 2032.0,
        "y" : -64.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "04d98e57-92f5-331a-be95-9ad2cb3865ec",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Log Failure",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1448.0,
          "y" : -16.0
        },
        "properties" : {
          "Log FlowFile Properties" : "true",
          "Log Level" : "error",
          "Output Format" : "Line per Attribute",
          "Log Payload" : "false",
          "Character Set" : "UTF-8",
          "Attributes to Log Regular Expression" : ".*"
        },
        "propertyDescriptors" : {
          "Log FlowFile Properties" : {
            "displayName" : "Log FlowFile Properties",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log FlowFile Properties",
            "sensitive" : false
          },
          "Log Level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level",
            "sensitive" : false
          },
          "Attributes to Ignore" : {
            "displayName" : "Attributes to Ignore",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore",
            "sensitive" : false
          },
          "Attributes to Log" : {
            "displayName" : "Attributes to Log",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log",
            "sensitive" : false
          },
          "Attributes to Ignore Regular Expression" : {
            "displayName" : "Attributes to Ignore Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Ignore Regular Expression",
            "sensitive" : false
          },
          "Output Format" : {
            "displayName" : "Output Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Format",
            "sensitive" : false
          },
          "Log Payload" : {
            "displayName" : "Log Payload",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Payload",
            "sensitive" : false
          },
          "Log Prefix" : {
            "displayName" : "Log Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Prefix",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Attributes to Log Regular Expression" : {
            "displayName" : "Attributes to Log Regular Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Attributes to Log Regular Expression",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "7d8462fa-b812-3282-8db0-608eb6c14299",
        "maxBackoffPeriod" : "10 mins",
        "name" : "DLQ Enabled",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1448.0,
          "y" : -448.0
        },
        "properties" : {
          "Routing Strategy" : "Route to Property name",
          "dlq" : "${#{'Kafka DLQ Topic'}:isEmpty():not()}"
        },
        "propertyDescriptors" : {
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "dlq" : {
            "displayName" : "dlq",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "dlq",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-kafka-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2026.6.4.18"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "7c7531f1-ef6b-3dd0-87d5-da75bfa9938b",
        "identifier" : "be718a29-f22c-3aed-becf-c98047ef3709",
        "maxBackoffPeriod" : "10 mins",
        "name" : "Send to DLQ",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1448.0,
          "y" : -232.0
        },
        "properties" : {
          "compression.type" : "none",
          "acks" : "all",
          "Kafka Key Attribute Encoding" : "utf-8",
          "Record Metadata Strategy" : "FROM_PROPERTIES",
          "Header Encoding" : "UTF-8",
          "max.request.size" : "1 MB",
          "Topic Name" : "${#{'Kafka DLQ Topic'}:isEmpty()\n :ifElse('NOOP',#{'Kafka DLQ Topic'})}",
          "partition" : "${kafka.key}",
          "Kafka Connection Service" : "18c3dc01-eaeb-3236-a95a-398bc40aaf36",
          "Publish Strategy" : "USE_WRAPPER",
          "Failure Strategy" : "Route to Failure",
          "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "Transactions Enabled" : "false"
        },
        "propertyDescriptors" : {
          "compression.type" : {
            "displayName" : "Compression Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression.type",
            "sensitive" : false
          },
          "acks" : {
            "displayName" : "Delivery Guarantee",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "acks",
            "sensitive" : false
          },
          "Message Demarcator" : {
            "displayName" : "Message Demarcator",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Demarcator",
            "sensitive" : false
          },
          "Kafka Key Attribute Encoding" : {
            "displayName" : "Kafka Key Attribute Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key Attribute Encoding",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Record Metadata Strategy" : {
            "displayName" : "Record Metadata Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Record Metadata Strategy",
            "sensitive" : false
          },
          "Transactional ID Prefix" : {
            "displayName" : "Transactional ID Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactional ID Prefix",
            "sensitive" : false
          },
          "Header Encoding" : {
            "displayName" : "Header Encoding",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Header Encoding",
            "sensitive" : false
          },
          "max.request.size" : {
            "displayName" : "Max Request Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "max.request.size",
            "sensitive" : false
          },
          "Topic Name" : {
            "displayName" : "Topic Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Topic Name",
            "sensitive" : false
          },
          "Kafka Key" : {
            "displayName" : "Kafka Key",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Kafka Key",
            "sensitive" : false
          },
          "partition" : {
            "displayName" : "Partition",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partition",
            "sensitive" : false
          },
          "Kafka Connection Service" : {
            "displayName" : "Kafka Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kafka Connection Service",
            "sensitive" : false
          },
          "Publish Strategy" : {
            "displayName" : "Publish Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Publish Strategy",
            "sensitive" : false
          },
          "Record Key Writer" : {
            "displayName" : "Record Key Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Key Writer",
            "sensitive" : false
          },
          "Failure Strategy" : {
            "displayName" : "Failure Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Failure Strategy",
            "sensitive" : false
          },
          "partitioner.class" : {
            "displayName" : "Partitioner Class",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "partitioner.class",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Transactions Enabled" : {
            "displayName" : "Transactions Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transactions Enabled",
            "sensitive" : false
          },
          "Message Key Field" : {
            "displayName" : "Message Key Field",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Key Field",
            "sensitive" : false
          },
          "FlowFile Attribute Header Pattern" : {
            "displayName" : "FlowFile Attribute Header Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "FlowFile Attribute Header Pattern",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.kafka.PublishKafka",
        "yieldDuration" : "10 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "15b88d58-4980-3a82-ac10-b0540a0f89b9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Update RECORD_METADATA",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 376.0,
        "y" : 488.0
      },
      "properties" : {
        "Use Table Metadata Cache" : "true",
        "Table Name" : "${table.name:toUpper()}",
        "Alter Column Type Strategy" : "Fail",
        "Table Metadata Cache Expiration Time" : "60 sec",
        "Max Batch Size" : "1",
        "Alter Column Strategy" : "Alter Table",
        "Desired Schema" : "{\n  \"columns\": [\n    {\n      \"name\": \"record_metadata\",\n      \"type\": {\n        \"type\": \"struct\",\n        \"fields\": [\n          {\n            \"name\": \"offset\",\n            \"type\": \"long\"\n          },\n          {\n            \"name\": \"topic\",\n            \"type\": \"string\"\n          },\n          {\n            \"name\": \"partition\",\n            \"type\": \"int\"\n          },\n          {\n            \"name\": \"key\",\n            \"type\": \"string\"\n          },\n          {\n            \"name\": \"schema_id\",\n            \"type\": \"int\"\n          },\n          {\n            \"name\": \"key_schema_id\",\n            \"type\": \"int\"\n          },\n          {\n            \"name\": \"CreateTime\",\n            \"type\": \"long\"\n          },\n          {\n            \"name\": \"LogAppendTime\",\n            \"type\": \"long\"\n          },\n          {\n            \"name\": \"SnowflakeConnectorPushTime\",\n            \"type\": \"timestamp\"\n          },\n          {\n            \"name\": \"timestamp\",\n            \"type\": \"timestamp\"\n          },\n          {\n            \"name\": \"headers\",\n            \"type\": {\n              \"type\": \"map\",\n              \"key\": \"string\",\n              \"value\": \"string\"\n            }\n          }\n        ]\n      }\n    }\n  ]\n}",
        "Table Schema Strategy" : "Use 'Desired Schema' Property",
        "Schema Name" : "#{Destination Schema}",
        "Drop Column Strategy" : "Ignore",
        "Add Column Strategy" : "Alter Table",
        "Connection Pool" : "807f1e7a-0ad6-304a-b631-267ecccd3538"
      },
      "propertyDescriptors" : {
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Alter Column Strategy" : {
          "displayName" : "Alter Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Strategy",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeIcebergDatabase",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "YIELD_PROCESSOR",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "47b516d9-0195-1000-3e23-cc7a518eb7c5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Create Table If Not Exists",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 872.0,
        "y" : 488.0
      },
      "properties" : {
        "Table Name" : "${table.name:toUpper()}",
        "Table Metadata Cache Expiration Time" : "30 sec",
        "Update Type" : "Create Table If Not Exists",
        "Max Batch Size" : "1",
        "Include Not Null Constraints" : "true",
        "Table Stream Creation Parameters" : "",
        "Record Reader" : "edca16be-4050-3c0d-8294-aafef0fa34fb",
        "Table Schema Strategy" : "Use Record Reader",
        "Schema Name" : "#{Destination Schema}",
        "Include Default Values" : "false",
        "Add Column Strategy" : "Alter Table",
        "Use Table Metadata Cache" : "true",
        "Alter Column Type Strategy" : "Fail",
        "Column Removal Strategy" : "Drop Column",
        "Column Name Transformation" : "${column.name:toUpper()}",
        "Drop Not Null Strategy" : "Alter Table",
        "Add Not Null Strategy" : "Alter Table",
        "Creation Parameters" : "ENABLE_SCHEMA_EVOLUTION = TRUE",
        "Create Stream" : "false",
        "Modify Primary Key Strategy" : "Alter Table",
        "Drop Column Strategy" : "Alter Table",
        "Connection Pool" : "807f1e7a-0ad6-304a-b631-267ecccd3538",
        "Include Primary Key Constraints" : "true"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "Table Metadata Cache Expiration Time" : {
          "displayName" : "Table Metadata Cache Expiration Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Metadata Cache Expiration Time",
          "sensitive" : false
        },
        "Update Type" : {
          "displayName" : "Update Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Update Type",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Include Not Null Constraints" : {
          "displayName" : "Include Not Null Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Not Null Constraints",
          "sensitive" : false
        },
        "Stream Creation Parameters" : {
          "displayName" : "Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Creation Parameters",
          "sensitive" : false
        },
        "Removed Column Name Suffix" : {
          "displayName" : "Removed Column Name Suffix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Removed Column Name Suffix",
          "sensitive" : false
        },
        "Table Stream Creation Parameters" : {
          "displayName" : "Table Stream Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Creation Parameters",
          "sensitive" : false
        },
        "Stream Name" : {
          "displayName" : "Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stream Name",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Desired Schema" : {
          "displayName" : "Desired Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Desired Schema",
          "sensitive" : false
        },
        "Table Schema Strategy" : {
          "displayName" : "Table Schema Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Schema Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Include Default Values" : {
          "displayName" : "Include Default Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Default Values",
          "sensitive" : false
        },
        "Add Column Strategy" : {
          "displayName" : "Add Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Column Strategy",
          "sensitive" : false
        },
        "Table Stream Name" : {
          "displayName" : "Table Stream Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table Stream Name",
          "sensitive" : false
        },
        "Use Table Metadata Cache" : {
          "displayName" : "Use Table Metadata Cache",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Table Metadata Cache",
          "sensitive" : false
        },
        "Alter Column Type Strategy" : {
          "displayName" : "Alter Column Type Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Alter Column Type Strategy",
          "sensitive" : false
        },
        "Column Removal Strategy" : {
          "displayName" : "Column Removal Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Removal Strategy",
          "sensitive" : false
        },
        "Column Name Transformation" : {
          "displayName" : "Column Name Transformation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Transformation",
          "sensitive" : false
        },
        "Drop Not Null Strategy" : {
          "displayName" : "Drop Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Not Null Strategy",
          "sensitive" : false
        },
        "Add Not Null Strategy" : {
          "displayName" : "Add Not Null Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Add Not Null Strategy",
          "sensitive" : false
        },
        "Creation Parameters" : {
          "displayName" : "Creation Parameters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Creation Parameters",
          "sensitive" : false
        },
        "Create Stream" : {
          "displayName" : "Create Stream",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Stream",
          "sensitive" : false
        },
        "Modify Primary Key Strategy" : {
          "displayName" : "Modify Primary Key Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Modify Primary Key Strategy",
          "sensitive" : false
        },
        "Drop Column Strategy" : {
          "displayName" : "Drop Column Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Drop Column Strategy",
          "sensitive" : false
        },
        "Connection Pool" : {
          "displayName" : "Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Connection Pool",
          "sensitive" : false
        },
        "Include Primary Key Constraints" : {
          "displayName" : "Include Primary Key Constraints",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Primary Key Constraints",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 9999,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-kafka-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "50dbc768-e0c6-3ff0-9aef-7a3550aabc40",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Consume From Kafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 872.0,
        "y" : -616.0
      },
      "properties" : {
        "Headers Field Parent" : "RECORD_METADATA",
        "Topics" : "#{Kafka Topics}",
        "Commit Offsets" : "true",
        "Key Format" : "string",
        "Record Reader" : "17c2c374-31fe-3c46-94cd-c7b81a022cfa",
        "Content Field" : "${#{'Schematization Enabled'}:equalsIgnoreCase('false'):ifElse('RECORD_CONTENT','')}",
        "Key Attribute Encoding" : "utf-8",
        "Topic Format" : "#{Kafka Topic Format}",
        "Header Encoding" : "UTF-8",
        "Max Uncommitted Time" : "100 millis",
        "Kafka Connection Service" : "18c3dc01-eaeb-3236-a95a-398bc40aaf36",
        "Key Field Parent" : "RECORD_METADATA",
        "Metadata Received Timestamp Field" : "SnowflakeConnectorPushTime",
        "Separate By Key" : "false",
        "Processing Strategy" : "RECORD",
        "Record Writer" : "3343b44e-6231-30c6-893b-6ab57faa05a7",
        "Group ID" : "#{Kafka Group Id}",
        "auto.offset.reset" : "#{Kafka Auto Offset Reset}",
        "Output Strategy" : "USE_CUSTOMIZABLE_WRAPPER",
        "Metadata Field" : "RECORD_METADATA"
      },
      "propertyDescriptors" : {
        "Headers Field Parent" : {
          "displayName" : "Headers Field Parent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Headers Field Parent",
          "sensitive" : false
        },
        "Topics" : {
          "displayName" : "Topics",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topics",
          "sensitive" : false
        },
        "Commit Offsets" : {
          "displayName" : "Commit Offsets",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Commit Offsets",
          "sensitive" : false
        },
        "Header Name Pattern" : {
          "displayName" : "Header Name Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Name Pattern",
          "sensitive" : false
        },
        "Key Format" : {
          "displayName" : "Key Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Format",
          "sensitive" : false
        },
        "Key Record Reader" : {
          "displayName" : "Key Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Key Record Reader",
          "sensitive" : false
        },
        "Message Demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Demarcator",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Content Field" : {
          "displayName" : "Content Field",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Field",
          "sensitive" : false
        },
        "Key Attribute Encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Attribute Encoding",
          "sensitive" : false
        },
        "Topic Format" : {
          "displayName" : "Topic Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topic Format",
          "sensitive" : false
        },
        "Header Encoding" : {
          "displayName" : "Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Encoding",
          "sensitive" : false
        },
        "Max Uncommitted Time" : {
          "displayName" : "Max Uncommitted Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Uncommitted Time",
          "sensitive" : false
        },
        "Kafka Connection Service" : {
          "displayName" : "Kafka Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kafka Connection Service",
          "sensitive" : false
        },
        "Key Field Parent" : {
          "displayName" : "Key Field Parent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Field Parent",
          "sensitive" : false
        },
        "Metadata Received Timestamp Field" : {
          "displayName" : "Metadata Received Timestamp Field",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Metadata Received Timestamp Field",
          "sensitive" : false
        },
        "Separate By Key" : {
          "displayName" : "Separate By Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Separate By Key",
          "sensitive" : false
        },
        "Processing Strategy" : {
          "displayName" : "Processing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Processing Strategy",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Group ID" : {
          "displayName" : "Group ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group ID",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Auto Offset Reset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        },
        "Output Strategy" : {
          "displayName" : "Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Strategy",
          "sensitive" : false
        },
        "Metadata Field" : {
          "displayName" : "Metadata Field",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Metadata Field",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.kafka.ConsumeKafka",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5ca031e8-0195-1000-9316-aeb1ccda1510",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Iceberg Enabled",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 872.0,
        "y" : 168.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "disabled" : "${#{'Iceberg Enabled'}:equalsIgnoreCase('false')}",
        "enabled" : "${#{'Iceberg Enabled'}:equalsIgnoreCase('true')}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "disabled" : {
          "displayName" : "disabled",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "disabled",
          "sensitive" : false
        },
        "enabled" : {
          "displayName" : "enabled",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "enabled",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "YIELD_PROCESSOR",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "75385087-7aea-320c-8dd2-00316c68da2b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Put Data To Snowflake",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 872.0,
        "y" : 1080.0
      },
      "properties" : {
        "Account" : "#{Snowflake Account Identifier}",
        "User" : "#{Snowflake Username}",
        "Table" : "${table.name}",
        "Max Batch Size" : "10000",
        "Schema" : "#{Destination Schema}",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "edca16be-4050-3c0d-8294-aafef0fa34fb",
        "Iceberg Enabled" : "#{Iceberg Enabled}",
        "Snowpipe Channel Index" : "${kafka.partition}",
        "Private Key Service" : "e8181811-2f1d-3326-aeb2-1b82d737f4cb",
        "Connection Strategy" : "STANDARD",
        "Role" : "#{Snowflake Role}",
        "Record Offset Strategy" : "Use Record Path",
        "Snowpipe Channel Prefix" : "${kafka.topic}",
        "Client Lag" : "30 sec",
        "Authentication Strategy" : "#{Snowflake Authentication Strategy}",
        "Delivery Guarantee" : "Exactly once",
        "Binary Encoding Format" : "BASE64",
        "Record Offset Record Path" : "/RECORD_METADATA/offset",
        "Database" : "#{Destination Database}"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Binary Encoding Format" : {
          "displayName" : "Binary Encoding Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Binary Encoding Format",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ "failure" ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "3 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b7c7da6f-0194-1000-eea2-c42fa239dcd8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Log Failure",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 216.0,
        "y" : -616.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "error",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.4.18"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ff9f85ab-1c48-3468-9fa9-2895841f71f8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Map Topic To Table",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 872.0,
        "y" : -72.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "table.name" : "${kafka.topic:replaceByPattern(#{'Topic To Table Map'})}",
        "Cache Value Lookup Cache Size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "table.name" : {
          "displayName" : "table.name",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "table.name",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Kafka SASL Source Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Kafka SASL Source Parameters",
      "parameters" : [ {
        "description" : "One of: embedded-avro-schema / schema-reference-reader / schema-text-property",
        "name" : "AVRO Schema Access Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "embedded-avro-schema"
      }, {
        "description" : "A comma-separated list of Kafka brokers to fetch data from. The same instance is used for the DLQ topic.",
        "name" : "Kafka Bootstrap Servers",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "One of: PLAIN / SCRAM-SHA-256 / SCRAM-SHA-512",
        "name" : "Kafka SASL Mechanism",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The password to authenticate to Kafka",
        "name" : "Kafka SASL Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "The username to authenticate to Kafka",
        "name" : "Kafka SASL Username",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "One of: SASL_PLAINTEXT / SASL_SSL\nOther security protocols are not supported.",
        "name" : "Kafka Security Protocol",
        "provided" : false,
        "sensitive" : false,
        "value" : "SASL_SSL"
      }, {
        "description" : "The method of authenticating to schema registry.\nOne of: NONE / BASIC",
        "name" : "Schema Registry Authentication Type",
        "provided" : false,
        "sensitive" : false,
        "value" : "NONE"
      }, {
        "description" : "The password for Schema Registry",
        "name" : "Schema Registry Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "The URL of Schema Registry",
        "name" : "Schema Registry URL",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The username for Schema Registry",
        "name" : "Schema Registry Username",
        "provided" : false,
        "sensitive" : false
      } ]
    },
    "Kafka SASL Destination Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Kafka SASL Destination Parameters",
      "parameters" : [ {
        "description" : "The database where data will be persisted. It must already exist in Snowflake",
        "name" : "Destination Database",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The schema where data will be persisted. It must already exist in Snowflake. This parameter is case sensitive.\nUnless destination schema was created with double quoted name, this parameter should be provided in upper case",
        "name" : "Destination Schema",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide your Snowflake account name formatted as [organization-name]-[account-name] where data will be persisted.",
        "name" : "Snowflake Account Identifier",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Using SNOWFLAKE_MANAGED will make use of the Snowflake managed token associated with the specified Snowflake Runtime Role. If using Openflow BYOC, it is also possible to use KEY_PAIR in order to specify a specific user and role via a cusom Key Pair.",
        "name" : "Snowflake Authentication Strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "SNOWFLAKE_MANAGED"
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the RSA private key used for authentication. The RSA key must be formatted according to PKCS8 standards and have standard PEM headers and footers. Note that either Snowflake Private Key File or Snowflake Private Key must be defined.",
        "name" : "Snowflake Private Key",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, upload the file that contains the RSA Private Key used for authentication to Snowflake, formatted according to PKCS8 standards and having standard PEM headers and footers. The header line begins with -----BEGIN PRIVATE. Select the Reference asset checkbox to upload the private key file.",
        "name" : "Snowflake Private Key File",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the password associated with the Snowflake Private Key File.",
        "name" : "Snowflake Private Key Password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "When using Session Token for your Authentication Strategy, use your Runtime Role. You can find your Runtime Role in the Openflow UI, by going to View Details for your Runtime. When using Key Pair for your Authentication Strategy, use a valid role configured for your service user.",
        "name" : "Snowflake Role",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Leave this blank when using Session Token for your Authentication Strategy. When using KEY_PAIR, provide the user name used to connect to Snowflake instance.",
        "name" : "Snowflake Username",
        "provided" : false,
        "sensitive" : false
      } ]
    },
    "Kafka SASL Ingestion Parameters" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Kafka SASL Destination Parameters", "Kafka SASL Source Parameters" ],
      "name" : "Kafka SASL Ingestion Parameters",
      "parameters" : [ {
        "description" : "Avro schema in case schema-text-property is used in AVRO Schema Access Strategy with the AVRO message format. Note: this should only be used in case all messages consumed from the configured Kafka Topic(s) share the same schema.",
        "name" : "AVRO Schema",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Specifies whether the processor ingests data into an Iceberg table. The processor fails if his property doesn’t match the actual table type.",
        "name" : "Iceberg Enabled",
        "provided" : false,
        "sensitive" : false,
        "value" : "false"
      }, {
        "description" : "One of: earliest / latest",
        "name" : "Kafka Auto Offset Reset",
        "provided" : false,
        "sensitive" : false,
        "value" : "latest"
      }, {
        "description" : "DLQ topic to send messages with parsing errors to",
        "name" : "Kafka DLQ Topic",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The id of a consumer group used by the connector",
        "name" : "Kafka Group Id",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "One of: \"names\" / \"pattern\".\nSpecifies whether the “Kafka Topics” provided are a comma separated list of names or a single regular expression.",
        "name" : "Kafka Topic Format",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The name or pattern of the Kafka Topics from which the connector consumes data. More than one can be supplied if comma separated. See also \"Kafka Topic Format\" param.",
        "name" : "Kafka Topics",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The format of messages in Kafka\nOne of: JSON / AVRO",
        "name" : "Message Format",
        "provided" : false,
        "sensitive" : false,
        "value" : "JSON"
      }, {
        "description" : "Determines whether data is inserted into individual columns or a single RECORD_METADATA field.\n\nOne of: true / false",
        "name" : "Schematization Enabled",
        "provided" : false,
        "sensitive" : false,
        "value" : "true"
      }, {
        "description" : "This optional parameter lets a user specify which topics should be mapped to which tables. Each topic and its table name should be separated by a colon (see example below). This table name must be a valid Snowflake unquoted identifier. The regular expressions cannot be ambiguous — any matched topic must match only a single target table. If empty or no matches found, topic name will be used as table name.\n\nExamples: 'topic1:low_range,topic2:low_range,topic5:high_range,topic6:high_range' and 'topic[0-4]:low_range,topic[5-9]:high_range'",
        "name" : "Topic To Table Map",
        "provided" : false,
        "sensitive" : false
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "CESCOBARROOD",
    "flowIdentifier" : "Apache-Kafka-with-SASL-authentication",
    "timestamp" : 1781035313375
  }
}